<header class="header">
    <div class="container container__header">
        <div class="header__inner">
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="index.html" class="header__nav__item" data-link="main__page">Главная</a>
                    </li>
                    <li>
                        <a href="index.html#link__news" class="header__nav__item" data-link="link__news">Новости</a>
                    </li>
                    <li>
                        <a href="index.html#link__servises" class="header__nav__item" data-link="link__servises">Услуги</a>
                    </li>
                    <li class="button__portfolio">
                        <a href="#" id="portfolio">Портфолио</a>
                    </li>
                    <li class="button__order-innernav" >
                        <a href="#" id="order">Оформить заказ</a>
                    </li>
                </ul>
            </nav>
            <div class="menu__icon">
                <span></span>
            </div>
            <a href="#" class="header__logo">
                <span>A</span>Brosko
            </a>
        </div>
    </div>
</header>