<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__inner__content">
                <h1 class="footer__inner__content__title">UNDER</h1>
                <div class="footer__inner__content__wrapper footer__inner__content__wrapper--first">
                    <h5 class="footer__inner__content__wrapper__title">Information:</h5>
                    <a href="" class="footer__inner__content__wrapper__link">- User agreement</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Privacy policy</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Documents</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Rights and contracts</a>
                </div>
                <div class="footer__inner__content__wrapper footer__inner__content__wrapper--prelast">
                    <h5 class="footer__inner__content__wrapper__title">Contact’s:</h5>
                    <a href="" class="footer__inner__content__wrapper__link">- info@mail.ru</a>
                    <a href="" class="footer__inner__content__wrapper__link">- info2@mail.ru</a>
                    <a href="" class="footer__inner__content__wrapper__link">- 7 (999) 222-22-66</a>
                    <a href="" class="footer__inner__content__wrapper__link">- Support service</a>
                </div>
                <div class="footer__inner__content__wrapper footer__inner__content__wrapper--social">
                    <h5 class="footer__inner__content__wrapper__title">Social:</h5>
                    <a href="" class="footer__inner__content__wrapper__link">- info.vk</a>
                    <a href="" class="footer__inner__content__wrapper__link">- info.inst</a>
                    <a href="" class="footer__inner__content__wrapper__link">- info.tg</a>
                    <a href="" class="footer__inner__content__wrapper__link">- info.tw</a>
                </div>
            </div>
            <div class="footer__inner__bottom">
                <div class="footer__inner__bottom__icon"></div>
                <div class="footer__inner__bottom__icon__social">
                    <a href="" class="footer__inner__bottom__icon__social__items social__items__vk"></a>
                    <a href="" class="footer__inner__bottom__icon__social__items social__item__mail"></a>
                    <a href="" class="footer__inner__bottom__icon__social__items social__item__inst"></a>
                </div>
            </div>
        </div>
    </div>
</footer>