.footer {
    width: 100%;
    flex: 0 0 auto;
    border-top: 1px solid $light-color;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    margin-top: 3.6rem;
}

.footer__inner__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__inner__content__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 12rem;
    line-height: 14.5rem;
    margin-top: -3rem;

    @include for-mefium-desktop{
        font-size: 9rem;
        margin-top: -4rem;
    }
    @include for-desktop{
        font-size: 7rem;
    }
    @include tablet {
        display: none;
    }
}

.footer__inner__content__wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;

    &:last-child {
        width: 16.4rem;
    }

    &:first-child {
        width: 21.4rem;
    }

    &:not(:last-child) {
        margin-right: 12.8rem;

        @include tablet-for-footer{
            margin-right: 0;
        }
    }

    &--first{
        @include tablet{
            padding-left: 5rem;
        }

        @include mini-mobile-for-footer{
            padding-left: 1rem;
        }
    }
    &--social{
        @include tablet-for-footer{
            display: none;
        }
    }
    &--prelast{
        @include tablet-for-footer{
            padding-right: 5rem;
        }
        @include mini-mobile-for-footer{
            padding-right: 1rem;
        }
    }

}


.footer__inner__content__wrapper__title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 5.2rem;
    @include tablet {
        margin-bottom: 2.5rem;
    }

    @include mini-mobile-for-footer{
        color: $accent-color;
        margin-bottom: 1rem;
    }

    @include micro-mobile{
        font-size: 1.8rem;
    }
}

.footer__inner__content__wrapper__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7rem;
    margin-bottom: 1.5rem;
    transition: all 0.4s linear;

    &:hover{
        color: $accent-color;
        transform: scale(1.05);
    }

    @include micro-mobile{
        font-size: 1rem;
    }
}

.footer__inner__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__inner__bottom__icon {
    background-image: url(../images/footer/image_2023-02-19_20-15-24.png);
    width: 6.167rem;
    height: 8.335rem;
    margin: 0 0 3rem 2rem;
    @include bg-cover;

    @include tablet{
        transform: scale(0.6);
        margin: 0 3rem;
    }
}

.footer__inner__bottom__icon__social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 18rem;
}

.footer__inner__bottom__icon__social__items {
    width: 3.5rem;
    height: 3.5rem;
    @include bg-cover;
    background-size: 95%;
    transition: all 0.4s linear;

    &:not(:last-child){
        display: block;
        margin-right: 3.6rem;
    }

    &:hover{
        margin-top: -4rem;
    }
}

.social__items__vk{
    background-image: url(../images/footer/Vk.svg);

    &:hover{
        background-image: url(../images/footer/Vkaccent.svg);
    }
}
.social__item__mail{
    background-image: url(../images/footer/mail.svg);

    &:hover{
        background-image: url(../images/footer/mailaccent.svg);
    }
}
.social__item__inst{
    background-image: url(../images/footer/insta.svg);

    &:hover{
        background-image: url(../images/footer/instaaccent.svg);
    }
}